.yellow-row td {
  background-color: #fcf0bf !important;
}

.small-text {
  font-size: 16px;
  color: var(--off-black) !important;
}

.ra-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edit-btn {
  padding: 2px 10px;
  font-size: 16px;
  background-color: var(--secondary-blue);
  color: var(--white);
  border: none;
  border-radius: 999px;
}

.edit-btn:active {
  background-color: var(--navy);
  transform: scale(0.96);
}

.ra-th-text {
  font-size: 12px;
}

.ra-add-row td {
  background: transparent !important;
  padding-top: 10px;
  color: var(--off-black);
}

.ra-add-btn {
  width: 100%;
  padding: 10px 12px;
  border-radius: 12px;

  border: 1px dashed rgba(0, 0, 0, 0.25);
  background: rgba(0, 0, 0, 0.02);

  font-weight: 600;
  color: var(--secondary-blue);
}

.ra-add-btn:hover {
  background: rgba(0, 0, 0, 0.05);
}

/* more modal */
.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-title {
  color: var(--secondary-blue);
  font: 16px;
}

.dropdown-wrapper {
  position: relative;
}

.dropdown-options {
  position: absolute;

  background: var(--off-white);
  border: 1px solid var(--secondary-gray);
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);

  max-height: 220px;
  overflow-y: auto;
}

.dropdown-option {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 16px;
  font-size: 16px;
  color: var(--off-black);
}

.dropdown-option:hover {
  background-color: #fcf0bf;
}

.dropdown-option:active {
  background-color: #fcf0bf;
  transform: scale(0.96);
}

.date-box {
  width: 100%;
}
